body {
  font-family: 'League Spartan', sans-serif;
  text-align: left;
}

/* heading */

.heading-line {
  color: #502050;
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1;
  padding: 30px 170px 0 150px;
}
.h1-p {
  color: #937b92;
  padding: 0 170px 0 150px;
}
.container-fluid {
  padding: 3% 2% 0;
}

/* rates and stars */

.rates-col {
  padding-top: 30px;
}
.stars-col {
  background-color: #f7f2f7;
  color: #502050;
  margin-bottom: 20px;
  width: 70%;
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  border-radius: 10px;
}
.stars {
  text-align: center;
  margin-top: 16px;
}
.rates-p {
  margin-top: 16px;
}
.b {
  position: relative;
  left: 30px;
}
.c {
  position: relative;
  left: 60px;
}

/* lower containers */

.image {
  width: 50%;
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 10px;
}
.image-row {
  width: 80%;
}
.image-col {
  padding-top: 20px;
}
.name-p {
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
}
.verified-p {
  color: #ee68a4;
  font-weight: 400;
}
.mains-p {
  color: #fff;
  padding: 7% 5%;
}
.lower-containers {
  font-size: 15px;
  border-radius: 10px;
  padding: 0 170px 0 150px;
}
.lower-container-a {
  margin-right: 20px;
  background-color: #502050;
  border-radius: 10px;
  position: relative;
}
.lower-container-b {
  margin-right: 20px;
  background-color: #502050;
  border-radius: 10px;
  position: relative;
  top: 20px;
}
.lower-container-c {
  background-color: #502050;
  border-radius: 10px;
  position: relative;
  top: 40px;
}
.attribution {
  position: relative;
  top: 100px;
}
